body{
    max-height: 100%;
    width:100%;
    overflow-x:hidden;
}
.nav1{
    width:100%;
    height:50px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 100px 0px;
}
.s-icon i{
    font-size:20px;
    margin:0px 10px;
    border-radius: 50%;
    background:#2ecc71;
    padding: 10px;
    color:white;
}
.logo{
    text-align:center;
    font-size: 50px;
    line-height:40px;
    font-family:'Dancing Script', cursive;
}
.logo span{
    font-size:20px;
    color:#2ecc71;
}
.search i{
    font-size:30px;
}
.nav2 {
width:100%;
box-shadow:2px 3px 5px grey;
}
.menu{
    width:70%;
    height:50px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items:center;
}
.menu a{
    text-decoration: none;
    color:black;
    font-size:20px;
    padding: 10px 30px;
    font-weight:bold;
    text-transform:uppercase;
    font-family:'Courgetter',cursive;
}
.menu a:hover{
    color:#2ecc71;
}
header{
    width:100%;
    display:flex;
}
header div{
    cursor:pointer;
    position:relative;
    overflow:hidden;
}
header div img{
    width: 100%;
    height:100%;
  
}
header div p{
    position:absolute;
    width:100%;
    bottom:0px;
    height:30%;
    line-height: 80px;
    background:rgba(0,0,0,0.8);
    color:white;
    font-size:20px;
    text-align:center;
}
header div a {
    text-decoration: none;
    background: #2ecc71;
    color:white;
    padding:0px 0px;
    font-size:40px;
}
header div img:hover{
    transform:scale(1.5);
    transition: 0.5s ease-in-out;
}
#about{
    padding:100px 50px;
    width:100%;
}
.about-row{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.about-left-col{
  flex-basis:50%;
  font-family:'Courgetter',cursive;
  text-align:center;
}
.about-right-col{
    flex-basis:50%;
}
.about-left-col img{
    width:60%;
}
.about-left-col h2{
    color:#2ecc71;
}
.about-left-col h1{
    font-size:20px;
  
}
.about-left-col p{
    color:grey;
    font-size:10px;
    text-transform:uppercase;
    margin:12px 0px;
}
.about-text{
    font-size:1px;
    color:grey;
    text-align:justify;
    margin:20px auto;
    text-transform: capitalize;
}
.aboutme a{
    text-decoration: none;

}
.about-left-col a{
    text-decoration: none;
    color:white;
    background:#2ecc71;
    padding:10px 20px;
    border:1px solid grey;
}
.aboutme{
    padding:10px;
    text-align:center;
    max-width:300px;
    margin: 10px auto;
    text-transform: capitalize;
}
.aboutme1{
    padding:10px;
    text-align:center;
    max-width:300px;
    margin: 20px auto;
    text-transform: capitalize;
}

.aboutme h2{
    font-family:'Dancing Script',cursive;
    position:relative;
    font-size:30px;
}

.aboutme h2:before{
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #2ecc71;
}
.aboutme h2:after{
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #2ecc71;
}
.aboutme1 h2:before{
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #2ecc71;
}
.aboutme1 h2:after{
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #2ecc71;
}
.aboutme1 h2{
    font-family:'Dancing Script',cursive;
    position:relative;
    font-size:30px;
}
.aboutme1 p{
    font-size:20px;
    margin:10px 0px;
    max-width:300px;
}
.aboutme i{
    font-size:30px;
    margin:20px 5px;
    padding:10px;
    border: 1px solid black;
    cursor:pointer;
}
.aboutme i:hover{
    background:#2ecc71;
    color:white;
    transition:0.4s linear;
}
.aboutme input{
    width:100%;
    padding:10px;
    outline: none;
    border:1px solid grey;
    margin:20px 0px;
}
.aboutme button{
    background: #2ecc71;
    color:white;
    padding:10px 20px;
    border:none;
    outline:none;
    width:80%;
}
footer{
    width:84%;
    background: #262626;
    color:white;
    padding:10px 100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

@media screen and (max-width:900px) and (max-width:953px){
    body{
        max-height: 100%;
        width:95%;
        overflow-x:hidden;
    }
    .nav1{
        width:100%;
        height:5px;
        display: flex;
        justify-content:space-around;
        align-items:center;
        padding: 10px 0px;
    }  
    .s-icon i{
        font-size:10px;
        margin:0px 2px;
        border-radius: 50%;
        background:#2ecc71;
        padding: 5px;
        color:white;
    }
    .logo{
        text-align:center;
        font-size: 10px;
        line-height:20px;
        font-family:'Dancing Script', cursive;
    }
    .logo span{
        font-size:15px;
        color:#2ecc71;
    }
    .search i{
        font-size:10px;
    }
    .nav2 {
        width:100%;
        box-shadow:2px 3px 5px grey;
        }
        .menu{
            width:100%;
            height:30px;
            margin:auto;
            display:flex;
            justify-content: center;
            align-items:center;
        }
        .menu a{
            text-decoration: none;
            color:black;
            font-size:9px;
            padding: 2px 10px;
            font-weight:bold;
            text-transform:uppercase;
            font-family:'Courgetter',cursive;
        }
        header{
            width:105%;
            display:flex;
        }
        header div img{
            width: 100%;
            height:90%;
        }
    
        header div p{
            position: absolute;
            width: 100%;
            height:30%;
            line-height: 24px;
            background: rgba(0,0,0,0.8);
            color: white;
            font-size: 10px;
            text-align: center;
        }
        header div a {
            text-decoration: none;
            background: #2ecc71;
            color: white;
            padding: 5px 10px;
            font-size: 10px;
            
        }
        #about{
            padding:0px;
            width:100%;
        }
        .about-row{
            display:block;
            height:959px;
            width: 100%;
        }
        .about-left-col{
            width:100%;
        }
        .about-right-col{
            width:100%;
            height: 80px;
            margin-top: 40px;
        }
        .about-left-col a{
            text-decoration: none;
            color:white;
            background:#2ecc71;
            padding:5px 10px;
            border:1px solid grey;
            font-size:10px;
        }
        .aboutme{
            padding:5px;
            text-align:center;
            max-width:75%;
            margin: 10px auto;
            text-transform: capitalize;
            position:relative;
            right:-32px;
            margin-inline:0px;
        }
        .aboutme h2{
            font-family:'Dancing Script',cursive;
            position:relative;
            font-size:15px;
            margin:0px;
        }
        .aboutme h2:before{
            content: "";
            width: 50px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            background: #2ecc71;
        }
        .aboutme h2:after{
            content: "";
            width: 50px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: 0;
            background: #2ecc71;
        }
        .aboutme p{
            font-size:10px;
            margin:10px 0px;
        }
        .aboutme i{
            font-size:10px;
            margin:20px 5px;
            padding:10px;
            border: 1px solid black;
            cursor:pointer;
        }
        
        .aboutme input{
            width:80%;
            padding:10px;
            outline: none;
            border:1px solid grey;
            margin:20px 0px;
        }
        .aboutme button{
            background: #2ecc71;
            color:white;
            padding:10px 20px;
            border:none;
            outline:none;
            width:60%;
        }
        footer{
            height:80%;
            width:95%;
            background: #262626;
            color:white;
            padding:10px 10px;
            display:block;
            justify-content: space-between;
            align-items:center;
        }
        footer .logo{
            font-size: 18px;
            display: block;
            width: 100%;
            
        }
        footer span{
            font-size:10px;
        }
        footer .aboutme1{
            width:100%;
            font-size:1px;
        }
        footer .aboutme1 h2{
            font-size:20px;
        }
        footer .aboutme1 p{
            font-size:15px;
        }
        footer .aboutme h2{
            font-size:20px;
            
        }
        footer .aboutme h2:before{
            content: "";
            width: 0px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            background: #2ecc71;
        }
        footer .aboutme h2:after{
            content: "";
            width: 0px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: 0;
            background: #2ecc71;
        }
        .aboutme1 h2:before{
            content: "";
            width: 0px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            background: #2ecc71;
        }
        .aboutme1 h2:after{
            content: "";
            width: 0px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: 0;
            background: #2ecc71;
        }
    }
    @media screen and (max-width:320px){
     header div p{
        font-size:7px;
     }
    }
        